/* @import "tailwindcss"; */

#root {
    width: 100%;
}

.multi-track-body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #2e2e2e;
}

.four-track-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio-track-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.daw-body {
    justify-content: center;
    width: calc(100vw - 100px); /* full viewport width minus left/right margins */
           /* optional max width so it doesn't get too wide on large screens */            /* adjust this value to control height */
    margin: 20px auto;           /* top/bottom margin 20px, auto left/right to center horizontally */
    box-sizing: border-box;      /* include padding/border in width/height */
    /* padding: 10px;               optional padding inside */
    background-color: #2e2e2e;  /* optional background so you can see the box */
    border-radius: 8px;        /* optional rounded corners */        /* optional, to prevent overflow */ 
    border: 2px solid lightsalmon; 
}

.sour-gummy-title {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: lightsalmon;
    font-variation-settings:
    "wdth" 100;
}

.track-tool-bar {
    border: 2px solid lightsalmon;
    grid-area: 1 / 1 / 2 / 2;
}

.track-tool-bar-button {
    background-color: #3C3D37;
    color: #ECDFCC;
}

.track-tool-bar-icon {
    width: 20px;
    height: 20px;
}

.track-body {
    grid-area: 2 / 1 / 3 / 2;
}

.record-button {
    grid-area: 1 / 1 / 2 / 2;
}

.volume-button {
    grid-area: 1 / 2 / 2 / 3;
}

.play-button {
    grid-area: 1 / 3 / 2 / 4;
}

.clear-button {
    grid-area: 1 / 3 / 2 / 4;
}

.master-tool-bar {
    display: flex;
    position: fixed; 
    bottom: 0;      
    left: 0;        
    width: 100%;
    align-items: center;
    z-index: 10;
    border: 2px solid lightsalmon;
}

.tool-bar-button {
    background-color: #1E201E;
    color: #ECDFCC;
}

.export-tool-bar-button {
    margin-right: 5px;
    color: #1E201E;
    background-color: lightsalmon;
}

.dark1 {
    background-color: #1E201E;
}

.dark2 {
    background-color: #3C3D37;
}

.dark3 {
    background-color: #697565;
}

.light1 {
    background-color: #ECDFCC;
}

.icon-button {
    height: 30px;
    width: 30px;
}

.time-tracker {
    background-color: lightsalmon;
    height: 50%;
    padding: 7px;
    margin-right: auto;
}

.trash-button {
    margin-right: auto;
}

.bottom-space {
    height: 55px;
}

input[type="range"] {
  accent-color: #697565; /* Or any valid CSS color value */
}

.export-audio-box {
    background: #3C3D37;
    color: #ECDFCC;
    padding: 20;
    border-radius: 8;
    min-width: 300;
    text-align: "center"
}

.export-base {
    position: "fixed";
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    background: "rgba(0,0,0,0.5)";
    display: "flex";
    justify-content: "center";
    align-items: "center"
}